$item-color: #B5B7C0;
$item-2-color:  #292D32;
$item-menu-color:    #9197b3;


.general{
    display: flex;
    flex-direction: row-reverse;
}
// background
.background{
    width: 1440px;
   height: 1198px;
   background: #FAFBFF;
   padding-left: 71px;
   }
   .hello{
   color: #000;
   font-family: Poppins;
   font-size: 24px;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
   padding-top: 41px;
   padding-left: 38px;
   margin-top: 0;
   margin-bottom: 51px;
   }
.main-block{
    border-radius: 30px;
    background-color: #fff;
    
    
   
 width: 968px;
height: 812px;
flex-shrink: 0;
fill: #FFF;
filter: drop-shadow(0px 10px 60px rgba(226, 236, 249, 0.50));

}
//header
.header{
    display: flex;
    flex-direction: row;
    .title{
      padding-top: 30px;
        color: #000;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.22px;
    padding-left: 38px;
    margin-bottom: 7px;
    margin-top: 0;
    padding-right: 505px;
    }

.search{
    padding-top:  7px;
    padding-left: 8px;
    margin-top: 30px;
    box-sizing:border-box;
    width: 216px;
    height: 38px;
    border-radius: 10px;
    background: #F9FBFF;
    padding-bottom: 7px;
&__block{
    
    border:none;
    box-sizing:border-box;
    background: #F9FBFF;
    color: #B5B7C0;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.12px;

}

}

    .subtitle{
        color: #16C098;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.14px;
    padding-left: 38px;
    margin: 0;
   
    }
    
}

.line{
    margin: 0 auto;
    height:1px;
    border-width:0;
   color: #EEEEEE;
   background: #EEE;
}
.square{
    padding-right: 44px;
    padding-left: 38px;
    
}
.wrapper-title {
    display: grid;
    grid-template-columns:  15% 15% 20% 25% 15% 15%;
    padding-left: 38px;
    padding-top: 40px;
    padding-bottom: 14px;
    padding-right: 35px;
}
.wrapper {
    display: grid;
    grid-template-columns: 15% 15% 20% 25% 15% 15%;
 
    padding-top: 19px;
    padding-bottom: 19px;
    
    
 


    &__item{
        color: $item-color;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.14px;
    }
    &__item-2{
        color: $item-2-color;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.14px;
        
    }
    &__btn{
        height: 29px;
        box-sizing: border-box;
        display: flex;  
        width: 80px;
        padding: 4px 12px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 4px;
        border: 1px solid #00B087;
        background: rgba(22, 192, 152, 0.38);
            }
   
    &__btn-inactive{
        
        height: 29px;
        box-sizing: border-box;
        display: flex;  
        width: 80px;
        padding: 4px 12px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 4px;
        border: 1px solid #DF0404;
        background: #FFC5C5;
    }
 
}


.down{
    display: flex;
    padding-right: 40px;
    padding-top: 32px;
    padding-bottom: 41px;
    padding-left: 38px;

    grid-template-columns: 657px 220px;

}
.showing-data{
    color: #B5B7C0;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.14px;
}
.switcher{

padding-left: 207px;
  
}
.swtch-btn{
    grid-template-rows: 10px;
    padding: 6px 10px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    border: 1px solid #EEE;
    background: #F5F5F5;
    width: 24px;
    height: 25px;
    margin-right: 12px;
    color:  #404B52;
font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 100%; 
letter-spacing: -0.12px;
}
.swtch-btn-active
{display: inline-flex;
    padding: 6px 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    border: 1px solid #5932EA;
    background: #5932EA;
    color: #FFF;
font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 100%; /* 12px */
letter-spacing: -0.12px;
margin-right: 12px;
}



//side bar
.side{
padding-left: 28px;
width: 306px;
height: 1198px;
flex-shrink: 0;
}
.side-title{
    display:flex;
color: #000;
font-family: Poppins;
font-size: 26px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 0.26px;
padding-top: 36px;

}
.romb{
    padding-right: 8px;
}
.mini{
display: flex;
    color: #838383;
font-family: Poppins;
font-size: 10px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.1px;
align-items:flex-end;
padding-left: 4px;
}
.side-menu{
display: grid;
padding-right: 28px;
padding-top: 65px;
&__item{
color: $item-menu-color;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.14px;
padding-bottom: 44px;
    }
}
.arrow{
    width: 16px;
height: 16px;
flex-shrink: 0;
padding-right: 15px;
padding-left: 90px;
}
.logo{
    width: 24px;
height: 24px;
flex-shrink: 0;
padding-right: 14px;
}
.project-manager{
    color: #000;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.14px;
padding-right: 23px;

padding-top: 556px;

}
.pr{
    color: #757575;
font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.12px;
padding-bottom: 78px;
}
